<!DOCTYPE html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3mobile.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="w3-indigo">

  <center>
      <img src="/images/download.png">
      <h1><b><%= title %></b></h1>
      <p class="w3-text-white"><h1>Welcome to <%= title %></h1></p>
      <p>Answer All The Questions</p>
      <form action="paper/submit">
    <% for(var i=0;i<questions.length;i++) {%>
    <p class="question"><%= i+1 %>. <%= questions[i].question %></p>

    <ul class="answers">
        <input type="radio" name="<%=questions[i].id%>" value="1" ><label for="q1a"><%= questions[i].options[0] %></label><br/>
        <input type="radio" name="<%=questions[i].id%>" value="2" ><label for="q1b"><%= questions[i].options[0] %></label><br/>
        <input type="radio" name="<%=questions[i].id%>" value="3" ><label for="q1c"><%= questions[i].options[0] %></label><br/>
        <input type="radio" name="<%=questions[i].id%>" value="4" ><label for="q1d"><%= questions[i].options[0] %></label><br/>
    </ul>
  <% }%>
  </center>
  <p align="right">
      <input  type="submit" value="submit"  class="w3-button w3-round">
  </p>
  </form>
  </body>
</html>
